body{
    background-image: url(img/bg1.jpg.jpg);
    background-size: cover;
    overflow: hidden;
}
#form{
    background-color: #fff;
    width: 28%;
    border-radius: 6px;
    margin: 120px auto;
    padding: 50px;
    box-shadow: 10px 10px 5px rgb(0, 0, 0);
}
h1{
    text-align: center;
}
input{
    width: 90%;
    border-radius: 4px;
    border: 3px solid #f6efef;
    padding: 5px;
}
#btn{
    width: 100%;
    color: #fff;
    background-color: #b24a31;
    padding: 10px;
    font-size: large;
    border-radius: 10px;
}
mad{
    font-size: xx-large;
    text-align: center;
}